@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body{
    font-family: ;
}

.preview-card{
    display: flex;
    background-color: hsl(30, 38%, 92%);
    height: 60vh;
    width: 40%;
    margin: auto;
    padding: 5rem 15rem;
    border-radius: 6px;
    
}

.preview-img img{
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.preview-details{
    background-color: white;
    /* width: 30%; */
    padding: 2rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.preview-paragraph{
    font-family: 'Montserrat', sans-serif;
}